/* Feature Card ---------------------------------- */ 
.feature-card {
    text-align: center;
    border: 2px solid #D9E0F3;
    border-radius: 10px;
    padding: 40px 12px;
    .shape-icon {
        width: 120px;
        height: 115px;
        line-height: 115px;
        margin: 0 auto 30px auto;
        filter: drop-shadow(0px 10px 30px rgba(8, 14, 28, 0.06));
        &:before {
            background-color: $white-color;
            clip-path: path("M6.35418 25.7699C-3.10248 43.0115 -1.601 65.2669 8.18807 82.317C21.8699 106.149 51.9755 119.386 78.1565 111.915C104.338 104.443 123.425 76.1006 119.484 48.8163C112.307 -0.867846 31.1988 -19.5262 6.35418 25.7699Z");
        }
    }
    &_text {
        max-width: 315px;
        margin: 0 auto -0.5em auto;
    }

}