/* Hero Global ---------------------------------- */
.as-hero-wrapper {
    position: relative;
    z-index: 2;
    overflow: hidden;
    .slick-arrow {
        --pos-x: 100px;
        background-color: transparent;
        box-shadow: none;
        color: $white-color;
        border: 1px solid $white-color;
        &:hover {
            background-color: $white-color;
            color: $theme-color;
        }
    }
    .slick-dots {
        position: absolute;
        top: 50%;
        left: 80px;
        transform: translateY(-50%);
    }
}

@include xxl {
    .as-hero-wrapper .slick-arrow {
        --pos-x: 40px;
    }
}
.as-hero-bg {
    position: absolute;
    inset: 0;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
/* Hero 1 ---------------------------------- */
.hero-subtitle {
    font-family: $title-font;
    color: $theme-color;
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 17px;
    text-transform: uppercase;
    margin-top: -0.24em;
}
.hero-title {
    font-size: 74px;
    font-weight: bold;
    line-height: 1.135;
    margin-bottom: 0;
    &:last-of-type {
        margin-bottom: 21px;
    }
}
.hero-text {
    margin-bottom: 43px;
}
.hero-1 {
    background-image: linear-gradient(100.62deg, rgba(249, 215, 175, 0.3) 0%, rgba(214, 202, 245, 0.3) 24.03%, rgba(198, 241, 255, 0.3) 45.73%, rgba(248, 242, 222, 0.3) 69.05%, rgba(212, 179, 253, 0.3) 100.44%);

    overflow: hidden;
    .hero-shape1,
    .hero-shape2,
    .hero-shape3 {
        position: absolute;
        z-index: 2;
    }
    .hero-shape1,
    .hero-shape2 {
        top: 10%;
        right: 0;
        animation: jumpAni 7s linear infinite;
    }
    .hero-shape2 {
        animation: jumpReverseAni 7s linear infinite;
    }
    .hero-shape3 {
        bottom: -80px;
        left: -60px;
        animation: jumpAni 7s linear infinite;
    }
    .hero-img {
        position: absolute;
        top: 60px;
        right: 10%;
        z-index: 3;
        &:before {
            content: '';
            width: 500px;
            height: 500px;
            background-color: #F2BA4C;
            opacity: 0.3;
            filter: blur(300px);
            border-radius: 50%;
            position: absolute;
            right: -40px;
            top: -180px;
            z-index: -1;
            animation: bgColor 8s ease-in-out infinite;
        }

    }
}
.hero-style1 {
    position: relative;
    z-index: 6;
    padding: 219px 0 219px 0;
    max-width: 710px;
}

@include hd {
    .hero-1 .hero-img {
        right: 18%;
    }
}

@media (max-width: 1700px) {
    .hero-1 .hero-img {
        right: 1%;
    }
}

@media (max-width: 1400px) {
    .hero-1 {
        .hero-img {
            top: 20px;
        }
    }
    .hero-style1 {
        padding: 180px 0;
    }
    .hero-title {
        font-size: 68px;
    }
}

@include xl {
    .hero-1 {
        .hero-img {
            max-width: 485px;
        }
    }
    .hero-style1 {
        padding: 150px 0;
    }
}

@include lg {
    .hero-title {
        font-size: 60px;
    }
    .hero-1 {
        .hero-img {
            right: -10%;
        }
        .hero-shape1,
        .hero-shape2 {
            max-width: 600px;
        }
        .hero-shape3 {
            max-width: 600px;
        }
    }
}

@include md {
    .hero-title {
        font-size: 54px;
        line-height: 1.2;
    }
    .hero-style1 {
        padding: 110px 0;
        text-align: center;
        .btn-group {
            justify-content: center;
        }
        .hero-text {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .hero-1 {
        .hero-img {
            position: relative;
            margin-top: 30px;
            margin-bottom: -60px;
            text-align: center;
            right: 0;
            top: 0;
            max-width: 100%;
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

@include sm {
    .hero-subtitle {
        font-size: 18px;
    }
    .hero-title {
        font-size: 48px;
    }
}

@include xs {
    .hero-subtitle {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .hero-title {
        font-size: 38px;
        line-height: 1.24;
        &:last-of-type {
            margin-bottom: 16px;
        }
    }
    .hero-text {
        margin-bottom: 28px;
    }
}

@media (max-width: 390px) {
    .hero-title {
        font-size: 34px;
        line-height: 1.3;
    }
}

@media (max-width: 330px) {
    .hero-title {
        font-size: 30px;
    }
}

/* Hero 2 ---------------------------------- */
.hero-2 {
    overflow-x: hidden;
    .as-hero-bg {
        &:before {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $title-color;
            z-index: 2;
            opacity: 0.7;
        }
    }
    .hero-shape1,
    .hero-shape2,
    .hero-shape3 {
        position: absolute;
        right: 0;
    }
    .hero-shape1 {
        bottom: 0;
    }
    .hero-shape2,
    .hero-shape3 {
        top: 0;
    }
    .ripple-shape {
        position: absolute;
        top: -50px;
        left: -50px;
        z-index: 1;
        height: 100px;
        width: 100px;
    }
}

.ripple-1,
.ripple-2,
.ripple-3,
.ripple-4,
.ripple-5,
.ripple-6 {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: transparent;
	border: 1px solid $white-color;
    border-radius: 50%;
    animation: heroripple 8s linear infinite;
}
.ripple-1 {
    animation-delay: 0;
}
.ripple-2 {
    animation-delay: 1s;
}
.ripple-3 {
    animation-delay: 2s;
}
.ripple-4 {
    animation-delay: 3s;
}
.ripple-4 {
    animation-delay: 4s;
}
.ripple-5 {
    animation-delay: 5s;
}
.ripple-6 {
    animation-delay: 1s;
}

@keyframes heroripple {
    0% {
        transform: scale(0.6);
        opacity: 0.2;
    }
    100% {
        opacity: 0;
		transform: scale(4);
    }
}
.hero-style2 {
    position: relative;
    z-index: 6;
    margin: 240px 0;
    max-width: 620px;
    .hero-text {
        color: $white-color;
    }
    .hero-title {
        color: $white-color;
    }
    .hero-subtitle {
        color: $white-color;
    }
}

@include ml {
    .hero-style2 {
        margin: 200px 0;
    }
}

@include lg {
    .hero-style2 {
        margin: 150px 0;
    }
}

@include md {
    .hero-2 {
        .hero-shape1 {
            max-width: 180px;
        }
        .hero-shape2 {
            max-width: 110px;
        }
        .hero-shape3 {
            max-width: 150px;
        }
    }
    .hero-style2 {
        margin: 130px 0;
    }
}

@include sm {
    .hero-style2 {
        margin: 100px 0;
        text-align: center;
        .btn-group {
            justify-content: center;
        }
    }
}

/* Hero 3 ---------------------------------- */
.hero-social {
    writing-mode: vertical-lr;
    a {
        display: inline-block;
        color: $title-color;
        font-family: $title-font;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
        &:not(:last-child) {
            &:after {
                content: '';
                height: 6px;
                width: 6px;
                display: inline-block;
                background-color: $theme-color;
                position: relative;
                margin: 35px 0 30px 0;
                position: relative;
                top: -2px;
            }
        }
        &:hover {
            color: $theme-color;
        }
    }
}
.hero-3 {
    background-color: #F7F8FD;
    overflow-x: hidden;
    .hero-img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
    .hero-img-phone {
        display: none;
    }
    .shape-blur {
        position: absolute;
        bottom: 80px;
        left: 100px;
        width: 534px;
        height: 534px;
        background: $theme-color;
        opacity: 0.5;
        filter: blur(250px);
        z-index: -1;
    }
    .hero-shape1 {
        position: absolute;
        top: 15%;
        left: 4%;
        animation: jumpAni 7s linear infinite;
    }
    .hero-social {
        position: absolute;
        bottom: 150px;
        left: 50px;
        z-index: 3;
        transform: rotate(180deg);
    }
}
.hero-style3 {
    padding: 340px 0 245px 0;
    max-width: 620px;
    position: relative;
    z-index: 5;
}

@media (max-width: 1700px) {
    .hero-3 .hero-img {
        right: -7%;
    }
}

@media (max-width: 1500px) {
    .hero-3 {
        .hero-img {
            right: -12%;
        }
        .hero-social {
            left: 20px;
        }
    }
}

@media (max-width: 1400px) {
    .hero-3 {
        .hero-img {
            right: -14%;
        }
        .hero-social {
            display: none;
        }
    }
}

@include xl {
    .hero-3 {
        .hero-img {
            right: -25%;
        }
    }
    .hero-style3 {
        padding: 300px 0 205px 0;
        max-width: 620px;
    }
}

@include lg {
    .hero-3 {
        .hero-img {
            right: -13%;
            max-width: 550px;
        }
        .hero-shape1 {
            max-width: 500px;
            top: unset;
            left: unset;
            bottom: 0;
            right: 0;
        }
    }
}

@include md {
    .hero-3 {
        .hero-img {
            display: none;
        }
        .hero-img-phone {
            display: block;
            text-align: center;
            margin: 100px 15px 40px 15px;
            position: relative;
        }
    }
    .hero-style3 {
        padding: 0px 0 100px 0;
        margin: 0 auto;
        text-align: center;
        .btn-group {
            justify-content: center;
            text-align: left;
        }
    }
}

@include sm {
    .hero-3 {
        .hero-shape1 {
            display: none;
        }
    }
}

/* Hero 4 ---------------------------------- */
.hero-4 {
    background-color: #F0F4FF;
    .hero-img {
        position: absolute;
        top: 50px;
        right: 7%;
        z-index: 2;
    }
    .body-particle {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .triangle-1,
    .triangle-2 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 82%;
        background-color: #E1E7F9;
        opacity: 0.3;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        z-index: -1;
    }
    .triangle-2 {
        width: calc(70% - 140px);
        height: calc(82% - 90px);
        background-color: #E0E6F8;
        opacity: 0.5;
    }
    .hero-shape2,
    .hero-shape3 {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.hero-style4 {
    position: relative;
    z-index: 6;
    margin: 219px 0 219px 0;
    max-width: 620px;
    .ripple-shape {
        position: absolute;
        top: -50px;
        left: -50px;
        z-index: 1;
        height: 100px;
        width: 100px;
    }
    .ripple-1, .ripple-2, .ripple-3, .ripple-4, .ripple-5, .ripple-6 {
        border-color: rgba($color: #141D38, $alpha: 0.3);
    }
}


@include hd {
    .hero-4 .hero-img {
        right: 18%;
    }
}

@media (max-width: 1700px) {
    .hero-4 .hero-img {
        right: 1%;
    }
}

@media (max-width: 1400px) {
    .hero-4 {
        .hero-img {
            top: 20px;
        }
    }
    .hero-style4 {
        margin: 180px 0;
    }
}

@include xl {
    .hero-4 {
        .hero-img {
            max-width: 520px;
            top: 80px;
        }
    }
    .hero-style4 {
        margin: 150px 0;
    }
}

@include lg {
    .hero-4 {
        .hero-img {
            right: -5%;
        }
    }
    .hero-style4 {
        max-width: 500px;
    }
}

@include md {
    .hero-style4 {
        margin: 110px auto;
        text-align: center;
        .btn-group {
            justify-content: center;
            text-align: left;
        }
        .hero-text {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .hero-4 {
        .hero-img {
            position: relative;
            margin-top: 50px;
            margin-bottom: -70px;
            text-align: center;
            right: 0;
            top: 0;
            max-width: 100%;
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

@include sm {
    .hero-subtitle {
        font-size: 18px;
    }
    .hero-title {
        font-size: 48px;
    }
}

@include xs {
    .hero-subtitle {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .hero-title {
        font-size: 38px;
        line-height: 1.24;
        &:last-of-type {
            margin-bottom: 16px;
        }
    }
    .hero-text {
        margin-bottom: 28px;
    }
}